


<div class="row navbar navbar-default" id="navbar-c">
    <div class="col-xs-2 col-md-2">
        <nav>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" id="navbar-brand-c" href="#">
                        <img alt="Brand" src="/images/logo.png" class="img-responsive" id="logo">
                    </a>
                </div>

            </div>
        </nav>
    </div>
    <div class="col-xs-10 col-md-8">
        <h1 class="heading">Yeng Admin Panel</h1>
    </div>
    <div class="col-md-2">
        <li class="dropdown account">
            <a href="#" class="dropdown-toggle white" data-toggle="dropdown"><b>Account</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                    <div class="row">

                        <div class="col-md-12">

                            <div class="social-buttons">
                                <ul class="list-group">
                                    <a href="#" class="news"><li class="list-group-item"><b>Profile</b></li></li> </a>
                                    <a href="#" class="news"><li class="list-group-item"><b>Logout</b></li></li> </a>
                                </ul>


                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </div>
    </div>

</div>
<div>


</div>