<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href='//fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/myjs.js"></script>

</head>
<body>
{{> header}}

{{{body}}}
{{> footer}}
</body>
</html>

