<h2>Add New Admin</h2>
<div class="row">
    <div class="col-md-5">
        <form id="frmAdminProfile" method="post" action="/admin/new" class="form-group">
            <label for="Email">Email</label>
            <input type="email" name="Email" id="Email" class="form-control">
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password" class="form-control">
            <label for="RePassword">Re-Enter Password</label>
            <input type="password" name="RePassword" id="RePassword" class="form-control">
           <br> <button type="submit" value="#{buttonText}" class="btn btn-success" id="bold">Add</button>
        </form>
    </div>
</div>