<h2>Add New Admin</h2>
<div class="row">
    <div class="col-md-5">
        <form id="frmAdminProfile" method="post" action="/admin/new" class="form-group input">

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="Email" type="email" class="form-control" name="Email" placeholder="Email">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="Password" type="password" class="form-control" name="Password" placeholder="Password">
            </div>

            <div class="input-group" style="margin-bottom: 25px">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="RePassword" type="password" class="form-control" name="RePassword" placeholder="Re-Enter Password">
            </div>
            <button type="submit" value="#{buttonText}" class="btn btn-success" id="bold">Add</button>
        </form>
    </div>
</div>