<h2>Add News & Updates</h2>
<div>

<form class="form-group" id="addnewsandupdates" method="POST" action="/news/add">
<label for="Title">Title</label>
    <input type="text" name="Tittle" id="Tittle" class="form-control" required>
    <label for="News">News</label>
    <textarea name="News" id="News" class="form-control" required></textarea>
    <label for="DisplayDate">Display date</label>
    <input type="text" name="DisplayDate" id="DisplayDate" class="date" required>
    <br><label for="EndDate">EndDate</label>
    <input type="text" name="EndDate" id="EndDate" class="date" style="margin-left: 27px" required>
    <br><br><button type="submit" value="Submit" class="btn btn-success" style="margin-left: 90px">Submit</button>

</form>
    <!--calender function-->
    <script>
        $( function() {
            $( ".date" ).datepicker({ dateFormat: 'dd-mm-yy' });
        } );
    </script>
</div>