//
   Created by navina on 11/10/16.
extends layout
block content
    h1 Home-Yeng Admin Panel
    p Email: #{email}
        h3 Actions
        ul
            li
                a(href="/news/add") Add News & Updates
            li
                a(href="/news/view") View News & Updates
            li
                a(href="/admin/new") Add New Admin
            li
                a(href="/admin/view") View Admins
