<div class="container-fluid">
    <div class="row">
        <div class=" col-md-3 navi">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="sidebar-nav">
                                        <div class="navbar navbar-default" role="navigation">
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <span class="visible-xs navbar-brand">{{email}}</span>
                                            </div>
                                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                                <ul class="nav navbar-nav" id="items">
                                                    <li id="view-news"><a href="#">View News & Updates</a></li>
                                                    <li id="add-news"><a href="#">Add News & Updates</a></li>
                                                    <li id="add-admin"><a href="#">Add New Admin</a></li>
                                                    <li id="view-admin"><a href="#">View Admins</a></li>
                                                </ul>
                                            </div><!--/.nav-collapse -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">

                                    <div id="body">



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){

$(window).on('load', function(){
$("#view-news").click();
console.log("loaded");
});
});
</script>