<div class="container-fluid">
    <div class="row">
        <div class=" col-md-3 navi">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="sidebar-nav">
                                        <div class="navbar navbar-default" role="navigation">
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <span class="visible-xs navbar-brand">{{email}}</span>
                                            </div>
                                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                                <ul class="nav navbar-nav" id="items">
                                                    <li><button class="side_menu default" value="/news/view">News & Updates</button> </li>
                                                    <li><button class="side_menu" value="/admin/view">Admin Management</button> </li>
                                                    <!--<li id="view-news"><a href="#">View News & Updates</a></li>
                                                    <li id="add-news"><a href="#">Add News & Updates</a></li>
                                                    <li id="add-admin"><a hr="ef#">Add New Admin</a></li>
                                                    <li id="view-admin"><a href="#">View Admins</a></li>

                                                    <li><a href="#"><button id="side_menu" value="/news/view"> View News & Updates</button></a></li>-->
                                                </ul>
                                            </div><!--/.nav-collapse -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">

                                    <div id="body">
                                        <img src="/images/loading.gif" class="img-responsive" id="loading_gif">
                                 <!-- div for Expand the pages by ajax-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){

$(window).on('load',function(){
    $("#loading_gif").show();
    $("#items li").css("background-color","transparent");
    $("#items a").css("color","black");
    $(".default").css("background-color","#18a39c");
    $(".default").css("color","#fff");
$.ajax({
url: "/news/view",
method: "GET",
data: {

},

success: function(data, textStatus, jqXHR) {
console.log("succes");

    $("#loading_gif").hide();
$("#body").html(data);
},
error: function(jqXHR, textStatus, errorThrown) {
console.log("error");
}
});

});
});
</script>