<h2>Change password</h2>
<div class="row container">
    <div class="col-xs-8 col-md-4 ">
        <form id="frmChangePassword" method="post" action="/admin/changepassword" class="form-group">
            <input type='hidden' name='id' value='{{name}}'>
            <label for="upassword">Your password</label>
            <input type="password" name="upassword" id="upassword" class="form-control">
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password" class="form-control">
            <label for="RePassword">Re-Enter Password</label>
            <input type="password" name="RePassword" id="RePassword" class="form-control">
            <br><button type="submit" class="btn btn-primary" id="bold">Reset</button>
        </form>
    </div>
</div>