<h3>Change password</h3>
<div class="row container">
    <div class="col-xs-8 col-md-4 ">
        <form id="frmChangePassword" method="post" action="/admin/changepassword" class="form-group input">
            <input type='hidden' name='id' value='{{name}}'>
            <h4>{{name}}</h4>


            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="upassword" type="password" class="form-control" name="upassword" placeholder="Current Password">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="Password" type="password" class="form-control" name="Password" placeholder="New Password">
            </div>

            <div class="input-group" style="margin-bottom: 25px">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="RePassword" type="password" class="form-control" name="RePassword" placeholder="Re-Enter Password">
            </div>
            <button type="submit" class="btn btn-primary" id="bold" style="float: left">Reset</button>


        </form>
        <button class="admin_det_btn btn" id="cancel_change" style="float: right"><b>Cancel</b></button>
    </div>
</div>
<script src="/js/sidepanel_home.js"></script>

<!--validate form fields-->
<script>
    $(document).ready(function () {
        $("#frmChangePassword").validate({
            rules:{
                Password:{
                    required:true,
                    minlength:6
                },
                RePassword:{
                    required:true,
                    equalTo:"#Password"
                }
            },
            messages:{
                Password:{
                    minlength:"Password must contain atleast 6 characters"
                },
                RePassword:{
                    equalTo:"Password do not match"
                    }
                },
            submitHandler: function(form){
                form.submit();
            }
            })
        })

</script>

<!--
cancel change password-->

<script>
    $(document).ready(function () {
        $("#cancel_change").click(function () {
            $("#admin_details").html(null);
        })
    })
</script>