//
   Created by navina on 9/12/16.

extends layouts/layout.hbs
block content
    h1 Change Password
    form(id="frmChangePassword",method="post",action="/admin/changepassword")
        input(type='hidden' name='id' value='#{name}')
        label(for="upassword") Your Password
        input(type="Password", name="upassword", id="upassword")
        label(for="Password") Password
        input(type="Password", name="Password", id="Password")
        label(for="RePassword") Re-Enter Password
        input(type="Password", name="RePassword", id="RePassword")
        input(type="submit", value="Reset")
