extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel='stylesheet', href='../node_modules/jade-bootstrap/css/navbar-static-top.css')
block body
  +navbar-static("Yeng Admin Panel","navbar","inverse")
  .container
    block content

