//
   Created by navina on 11/10/16.
extends layout
block content
    h1 Yeng- Admin Panel
    form(id="formAdminLogin", method="post", action="/login")
        label(for="Email") Email
        input(type="email", name="Email", id="Email")
        label(for="Password") Password
        input(type="Password", name="Password", id="Password")
        input(type="submit", value="Login")


