
<div class="container-fluid container-wrap">
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="form-wrap">
            <form class="login-form" id="formAdminLogin" method="post" action="/login">
                <div class="form-group">

                    <input type="email" class="form-control" placeholder="Enter email" id="Email" name="Email">
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" placeholder="Enter Password" id="Password" name="Password">
                </div>

                <button type="submit" class="btn btn-success">Login</button>
            </form>
            {{#if msg}}
                <div class="alert alert-danger">
                    {{msg}}
                </div>
            {{/if}}
        </div>
    </div>

</div>
</div>