//
   Created by navina on 11/10/16.


block content
    h1 News And Updates
    form(id="NewsAndUpdates", method="get", action="")
        each key in keys
            a(href="/news/detailedview/"+news[key]._id)=news[key].Tittle
            br
