@media only screen and (min-width: 912px){
  #logo{
    width:100%;
    height:auto;
  }
}
@media only screen and (max-width: 912px){
  #logo{
    max-width:100px;
    height:auto;
  }
  .account{
    float: right;
  }
}

#navbar-brand-c{
  padding: 0px;
  height: auto;
}
.heading{
  text-align: center;

  color: #ffffff;
  font-family: 'Caveat Brush';font-size: 40px;

}
#navbar-c{
  background-color: #18a39c;
}
.container-wrap{
  margin-top: 100px;
}
.login-form .btn{
  width: 100%;
}
.form-wrap{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 40px 20px;
  box-shadow: 4px 8px 12px 6px #cccccc;
  transition: 0.3s;
}
.login-form input{
  border-color: green;
}
.footer-wrap{
  background-color: #18a39c;
  text-align: center;

}
.footer-content{
  color: #ffffff;
}
.navi{

  height: 500px;
  margin-top: -18px;
  margin-left: -40px;

}




/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  #items{
    height: 500px;
    border-right: solid;
    border-color:#18a39c;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
#items li{
  transition: 1s;
  background: transparent;
  background-size: 200%;

}
#items button:hover{
  background:#18a39c;
  color: #fff;
}
#items a{
  color:black;
  font-weight: 600;
}
#items button{
  color:black;
  font-weight: 600;
  width: 100%;
  text-align: left;
  height: 40px;
  border:none;
}

#bold{
  font-weight: 700;
}
#color{
  color:#0F3C3F;
}
.news{
  color: #0F3C3F;



}
.news:hover{
  text-decoration: none;
}
.news_box{


}
.input span{
  background: #18a39c;
  border-radius:0;
}
.input div{
  margin-bottom: 15px;
}
.input button{
  border-radius:0;
  width: 70px;
}
.input input{
  border-radius: 0;
}

.account{
  margin-top: 30px;
  margin-left: 30px;
  list-style: none;
}
.white{
  color:#fff;
}
.admin_det_btn{
  background-color: #18a39c;
  border-color:#fff;
  border-radius: 0;
  color:#fff;
}
.border-left{
  border-left:solid;
  border-color: #18a39c;
}
#loading_gif{
  display: none;
}


.news_li{
  border: none;
  background: none;
}
.news_list{
  height:500px;
  overflow-y: scroll;
}
.news_search{
  margin-left:-16px;
  width:60%;
}
.admin_li{
  color: #0F3C3F;
}
.add_admin_form{
  width:200%;
}

.error{
  color: #CD0019;
  font-weight: 100;
}
