@media only screen and (min-width: 912px){
  #logo{
    width:100%;
    height:auto;
  }
}
@media only screen and (max-width: 912px){
  #logo{
    max-width:100px;
    height:auto;
  }
}

#navbar-brand-c{
  padding: 0px;
  height: auto;
}
.heading{
  text-align: center;

  color: #ffffff;
  font-family: 'Caveat Brush';font-size: 40px;

}
#navbar-c{
  background-color: #18a39c;
}
.container-wrap{
  margin-top: 100px;
}
.login-form .btn{
  width: 100%;
}
.form-wrap{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 40px 20px;
  box-shadow: 4px 8px 12px 6px #cccccc;
  transition: 0.3s;
}
.login-form input{
  border-color: green;
}
.footer-wrap{
  background-color: #18a39c;
  text-align: center;

}
.footer-content{
  color: #ffffff;
}
.navi{
  background: #18a39c;
  height: 500px;
  margin-top: -18px;
}




/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
#items li{
  transition: 2s;
  background: transparent;
  background-size: 200%;
}
#items li:hover{
  background:#18a39c;
}