<div class="panel breadcrumb" style="background-color: #ffffff">
    <li><a href="#">Syllabus</a></li>
    <li><a href="#">Course</a></li>
    <li><a href="#">Sem</a></li>
    <li><a href="#">Branch</a></li>
    <li><a href="#">Create Branch</a></li>
    <div class="panel-body sy-menu text-center  " style="color:#ffffff;font-size: 20px;">CRETAE BRANCH</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <div class="form-group">
                    <label for="inputsm">Course Name</label>
                    <input class="form-control input-sm" value="{{courseName}}" id="inputcrs" name="inputcrs" type="text" disabled>
                    //<h1>hai</h1>
                </div>
                <div class="form-group">
                    <label for="inputsm">Semester Name</label>
                    <input class="form-control input-sm" value="{{semName}}" id="inputsm" name="inputsm" type="text" disabled>
                </div>
                <div class="form-group">
                    <label for="inputsm">Branch Name</label>
                    <input class="form-control input-sm" id="inputbr" name="inputbr" type="text" placeholder="Branch Name" required>
                </div>
                <div class="form-group">
                    <button type="button" id="create-br" class="btn btn-success pull-right">Create Branch</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/syllabus.js"></script>