<div class="panel breadcrumb" style="background-color: #ffffff">
    <li><a href="#">Syllabus</a></li>
    <li><a href="#">Course</a></li>
    <li><a href="#">Create New</a></li>
    <div class="panel-body sy-menu text-center  " style="color:#ffffff;font-size: 20px;">Create Course</div>
    <div class="panel-body">
        <div class="col-sm-8 col-md-6">
            <h2>Instruction</h2>
            <p>The form below contains two input elements; one of type text and one of type password:</p>
            <form method="post" action="/syllabus/course/new" data-toggle="validator">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                    <input id="course" type="taxt" class="form-control" name="course" placeholder="Course Name"
                           required="hello">

                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <button class="btn btn-danger" type="button">
                        cancel
                    </button>
                    <button type="submit" id="docourse" class="btn btn-primary pull-right" type="button">
                        Create Course
                    </button>
                </div>
            </form>


        </div>

    </div>

</div>

