<div class="panel breadcrumb" style="background-color: #ffffff">
    <li><a href="#">Syllabus</a></li>
    <li><a href="#">Course</a></li>
    <li><a href="#">Sem</a></li>
    <li><a href="#">Subject</a></li>
    <li><a href="#">Create Subject</a></li>
    <div class="panel-body sy-menu text-center  " style="color:#ffffff;font-size: 20px;">CRETAE BRANCH</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-md-6">
              <!--  <form method="post" action="/syllabus/course/sem/branch/addsubj/{{brName}}" enctype="multipart/form-data">-->
                    <div class="form-group">
                        <label for="inputsm">Course Name</label>
                        <input class="form-control input-sm" value="{{courseName}}" id="inputcrs" name="inputcrs"
                               type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Semester Name</label>
                        <input class="form-control input-sm" value="{{semName}}" id="inputsm" name="inputsm" type="text"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Branch Name</label>
                        <input class="form-control input-sm" value="{{brName}}" id="inputbr" name="inputsm" type="text"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Subject Name</label>
                        <input class="form-control input-sm" id="inputsub" name="inputsub" type="text"
                               placeholder="Subject Name" required>
                    </div>

                    <div class="fileinput fileinput-new" id="formInfo">
                        <input type="file" name="pdffile" >
                    </div>
                    <div class="form-group">
                        <button type="submit" id="create-sub" class="btn btn-success pull-right">Create Subject</button>
                    </div>
                <!--</form>-->

            </div>
        </div>
    </div>
</div>

<script src="/js/sidepanel_home.js"></script>