<div class="panel breadcrumb" style="background-color: #ffffff">
    <li><a  href="#">Syllabus</a></li>
    <li><a href="#">Course</a></li>
    <li><a href="#">Semester</a></li>
    <li><a href="#">Branch</a></li>
    <li><a href="#">Subject</a></li>
    <div class="panel-body sy-menu text-center  " style="color:#ffffff;font-size: 20px;">SUJECT DETAILS</div>
    <!--  Serch Box   -->
    <div id="custom-search-input">
        <div class="input-group col-md-12" style="padding:20px;">
            <input type="text" class="  search-query form-control" placeholder="Search"/>
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <!-- End Serch Box   -->

    <div class="panel-body">
        <button class="btn col-xs-12" id="add-subject"  type="button">
            Create Subject
        </button>
    </div>
    {{#each subjData}}

        <div class="input-group hide">
            <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
            <input id="subjectParant" type="taxt" value="{{this._id}}" class="form-control" name="subjectParant" placeholder="Course Name"
                   required="hello">

        </div>
        <div class="row">
            {{#each this.children}}
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <button style="border:0px;width: 100%" value="{{this}}" >
                            <div class="caption" >
                                <h3 class="text-center"  >{{this}}</h3>
                            </div>
                        </button>
                        <div class="panel-body sy-menu"  style="height: 40px;">
                            <form  href="#">
                                <span class="glyphicon glyphicon-trash pull-left" style="font-size:20px; margin-top: -5px"></span>
                            </form >
                            <a >
                                <button type="submit"   class="glyphicon glyphicon-edit pull-right" style="font-size:20px; margin-top: -5px;background: none;border: 0px;"></button>
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
    {{/each}}

</div>

<script src="/js/sidepanel_home.js"></script>


