<h5>Role</h5>
<form id="add_roll" method="get" action="#">
<table class="table table-striped">
    <thead>

    </thead>
    <tbody>
    <tr >
        <td></td>
        <td>RoleName</td>
        <td><input data-toggle="rolenameover" data-content="Role Name" name="RollName" id="txtRoleName" type="text"></td>
        <td>

        </td>
    </tr>
    <tr>
        <td></td>
        <td>Description</td>
        <td><input name="Discription" id="txtescription" type="text"></td>
        <td></td>
    </tr>
    </tbody>
</table>
<table class="table table-striped" >
    <thead>
    <tr>
        <th>Menu</th>
        <th>Full</th>
        <th>Modify</th>
        <th>Read Only</th>
    </tr>
    </thead>
    <tbody id="tblRole">
    <tr >
        <td>News and Updates</td>
        <td><input type="checkbox" name="SubNews" class="subject-News" value="2"></td>
        <td><input type="checkbox" name="SubNews" class="subject-News" value="1"></td>
        <td><input type="checkbox" name="SubNews" class="subject-News" value="0"></td>
    </tr>
    <tr class="roleRolw">
        <td>Admin Management</td>
        <td><input type="checkbox" name="SubAdmin" class="subject-admin" value="2"></td>
        <td><input type="checkbox" name="SubAdmin" class="subject-admin" value="1"></td>
        <td><input type="checkbox" name="SubAdmin" class="subject-admin" value="0"></td>
    </tr>
    <tr class="roleRolw">
        <td>Syllabus</td>
        <td><input type="checkbox" name="SubSyllabus" class="subject-syllabus" value="2"></td>
        <td><input type="checkbox" name="SubSyllabus" class="subject-syllabus" value="1"></td>
        <td><input type="checkbox" name="SubSyllabus" class="subject-syllabus" value="0"></td>
    </tr>
    <tr class="roleRolw">
        <td>Manage Role</td>
        <td><input type="checkbox" name="SubRole" class="subject-role" value="2"></td>
        <td><input type="checkbox" name="SubRole" class="subject-role" value="1"></td>
        <td><input type="checkbox" name="SubRole" class="subject-role" value="0"></td>
    </tr>
    <tr >
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button type="submit" class="btn">Submit</button>
            <input type="button" class="btn" onclick="btnResetOnPress()" value="Reset">
        </td>
    </tr>
    <tr>
        <td>
            <div id="fail-body" style="display: none" class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong id="fail"></strong>Alredy Exists
            </div>
            <div id="success-body" style="display: none" class="alert alert-success fade in ">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                Your Role <strong id="success"></strong> has been Create successfully.
            </div>
        </td>
    </tr>
    </tbody>
</table>
</form>
<script>
    $('.subject-News').on('change', function() {
        $('.subject-News').not(this).prop('checked', false);
    });
    $('.subject-admin').on('change', function() {
        $('.subject-admin').not(this).prop('checked', false);
    });
    $('.subject-syllabus').on('change', function() {
        $('.subject-syllabus').not(this).prop('checked', false);
    });
    $('.subject-role').on('change', function() {
        $('.subject-role').not(this).prop('checked', false);
    });
</script>
<script src="/js/role.js"></script>